---
import Layout from '../layouts/Layout.astro'

import { profile} from '@/settings'
import { freelanceWork } from '@/data/freelance'
import FreelanceGallery from '@/components/freelance/FreelanceGallery.jsx'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/images/profile_pictures.jpg'

import Hero from '@/components/ui/Hero.astro'
import Freelance from '@/components/ui/Freelance.astro'
import Skills from '@/components/ui/Skills.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, } = profile

---

<Layout title="Solange Ormeno | Web Developer & Portfolio"
description="Hi! I'm Solange — a passionate freelance full-stack web developer building elegant websites and web apps using modern tools.">
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Skills Technologies -->
	<section class="py-12">
		<Skills />
	</section>

	<!-- Freelance Work -->
	<section class='py-12'>
		<Freelance title='Freelance Work' freelanceWork={freelanceWork} />
		
	</section>

	

	<!-- Projects -->

</Layout>
