---
import animatedSol from '@/assets/images/animatedSol.png';
import { Image } from 'astro:assets';


---

<div class="relative w-40 md:w-56 lg:w-64 eye-tracker hidden xl:block mt-3 m-3">

  <!-- Eyes (position over image based on your image layout) -->
  <div class="eye-ball" style="left: 42%; top: 28%;">
    <div class="pupil"></div>
  </div>
  <div class="eye-ball" style="left: 53%; top: 28%;">
    <div class="pupil"></div>
  </div>
</div>
