---
import { profile } from '../../settings'

const { fullName } = profile
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 py-8'>
	<aside>
		<p>
			Built with <a
				href='https://github.com/zol22'
				class='font-bold'
				target='_blank'>love</a
			>  by <a
				href='http://solangeormeno.dev'
        class="font-bold"
				target='_blank'>Solange Ormeno</a>
		</p>
	</aside>
</footer>
