---

---

<div class="overflow-hidden bg-orange-200/50 py-3">
    <div class="animate-scroll flex gap-10 whitespace-nowrap text-orange-700 text-sm font-medium tracking-wide">
      {Array.from({ length: 30 }).map((_, i) => (
        <span class="flex items-center gap-1" key={i}>
          Available for hire
          <i class="bx bx-smile"></i>

        </span>
      ))}
    </div>
  </div>